<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <!-- Stili CSS per l'albero -->
    <link rel="stylesheet" href="css/homepage_style.css">
    <script src="js/homepage.js" defer></script>
</head>
<body>
    <div class="header">
        <!-- Link per effettuare il logout -->
        <a th:href="'Logout'">Logout</a>
    </div>
    <div id="tree">
        <ul>
            <!-- Iterazione sulle cartelle -->
            <li th:each="folder : ${folders}" th:data-folder-id="${folder.getId()}" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
                <div th:if="${#lists.isEmpty(folder.getFolders())}">
                    <!-- Se non ci sono sottocartelle, mostra un link per visualizzare i documenti -->
                    <span th:text="${folder.getName()}"></span>
                    <!-- Contenitore per i pulsanti e i form -->
                    <div class="action-buttons">
                        <div th:unless="${folder.getName() == 'Cestino'}" th:if="${#lists.isEmpty(folder.getDocuments())}">    
                        <button type="button" class="add-subfolder-btn" th:data-folder-id="${folder.getId()}">AGGIUNGI SOTTOCARTELLA</button>
                        </div>
                        <div th:unless="${folder.getName() == 'Cestino'}">                             
                        <button type="button" class="add-document-btn" th:data-folder-id="${folder.getId()}">AGGIUNGI DOCUMENTO</button>
                        </div>
                    </div>
                    <!-- Campo di input per il nome della nuova sottocartella -->
                    <div class="subfolder-input" th:data-folder-id="${folder.getId()}" style="display:none;">
                        <input type="text" placeholder="Nome sottocartella">
                        <button type="button" class="save-subfolder-btn">Salva</button>
                    </div>
                    <!-- Campi di input per il nuovo documento -->
                    <div class="document-input" th:data-folder-id="${folder.getId()}" style="display:none;">
                        <input type="text" placeholder="Nome documento">
                        <input type="date" placeholder="Data documento">
                        <input type="text" placeholder="Tipo documento">
                        <textarea placeholder="Sommario documento"></textarea>
                        <button type="button" class="save-document-btn">Salva</button>
                    </div>
                    <!-- Iterazione sui documenti della cartella -->
	                <ul th:if="${!#lists.isEmpty(folder.getDocuments())}">
	                    <li th:each="document : ${folder.getDocuments()}" th:data-document-id="${document.getId()}" draggable="true">
	                        <span th:text="${document.getName()}"></span>
	                    </li>
	                </ul>
                </div>
                <div th:unless="${#lists.isEmpty(folder.getFolders())}">
                    <!-- Mostra il nome della cartella -->
                    <span th:text="${folder.getName()}"></span>
                    <!-- Contenitore per i pulsanti e i form -->
                    <div class="action-buttons">
                        <button type="button" class="add-subfolder-btn" th:data-folder-id="${folder.getId()}">AGGIUNGI SOTTOCARTELLA</button>
                    </div>
                    <!-- Campo di input per il nome della nuova sottocartella -->
                    <div class="subfolder-input" th:data-folder-id="${folder.getId()}" style="display:none;">
                        <input type="text" placeholder="Nome sottocartella">
                        <button type="button" class="save-subfolder-btn">Salva</button>
                    </div>
                    <!-- Iterazione sulle sotto-cartelle -->
                    <ul>
                        <li th:each="subfolder : ${folder.getFolders()}" th:data-folder-id="${subfolder.getId()}" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
                            <!-- Mostra i nomi delle sotto-cartelle -->
                            <span th:text="${subfolder.getName()}"></span>
                            <!-- Contenitore per i pulsanti e i form -->
                            <div class="action-buttons">
                                <div th:if="${#lists.isEmpty(subfolder.getDocuments())}">                         
                                <button type="button" class="add-subfolder-btn" th:data-folder-id="${subfolder.getId()}">AGGIUNGI SOTTOCARTELLA</button>
                                </div>
                                <div th:if="${#lists.isEmpty(subfolder.getFolders())}">    
                                	<button type="button" class="add-document-btn" th:data-folder-id="${subfolder.getId()}">AGGIUNGI DOCUMENTO</button>
                                </div>
                            </div>
                            <!-- Campo di input per il nome della nuova sottocartella -->
                            <div class="subfolder-input" th:data-folder-id="${subfolder.getId()}" style="display:none;">
                                <input type="text" placeholder="Nome sottocartella">
                                <button type="button" class="save-subfolder-btn">Salva</button>
                            </div>
                            <!-- Campi di input per il nuovo documento -->
                            <div class="document-input" th:data-folder-id="${subfolder.getId()}" style="display:none;">
                                <input type="text" placeholder="Nome documento">
                                <input type="date" placeholder="Data documento">
                                <input type="text" placeholder="Tipo documento">
                                <textarea placeholder="Sommario documento"></textarea>
                                <button type="button" class="save-document-btn">Salva</button>
                            </div>
                            <!-- Iterazione sui documenti della cartella -->
			                <ul th:if="${!#lists.isEmpty(subfolder.getDocuments())}">
			                    <li th:each="document : ${subfolder.getDocuments()}" th:data-document-id="${document.getId()}" draggable="true">
			                        <span th:text="${document.getName()}"></span>
			                    </li>
			                </ul>
                            
                            <!-- Chiamata ricorsiva per le sottocartelle annidate -->
                            <ul th:if="${!#lists.isEmpty(subfolder.getFolders())}">
                                <li th:each="nestedFolder : ${subfolder.getFolders()}" th:data-folder-id="${nestedFolder.getId()}" ondrop="handleDrop(event)" ondragover="handleDragOver(event)" th:include="this :: folderFragment"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- Frammento Thymeleaf per la struttura delle cartelle -->
    <div th:fragment="folderFragment">
        <div th:if="${#lists.isEmpty(nestedFolder.getFolders())}">
            <!-- Se non ci sono sottocartelle, mostra un link per visualizzare i documenti -->
            <span th:text="${nestedFolder.getName()}"></span>
            <!-- Contenitore per i pulsanti e i form -->
            <div class="action-buttons">
                <div th:if="${#lists.isEmpty(nestedFolder.getDocuments())}">                                     
                <button type="button" class="add-subfolder-btn" th:data-folder-id="${nestedFolder.getId()}">AGGIUNGI SOTTOCARTELLA</button>
                </div>
                <button type="button" class="add-document-btn" th:data-folder-id="${nestedFolder.getId()}">AGGIUNGI DOCUMENTO</button>
            </div>
            <!-- Campo di input per il nome della nuova sottocartella -->
            <div class="subfolder-input" th:data-folder-id="${nestedFolder.getId()}" style="display:none;">
                <input type="text" placeholder="Nome sottocartella">
                <button type="button" class="save-subfolder-btn">Salva</button>
            </div>
            <!-- Campi di input per il nuovo documento -->
            <div class="document-input" th:data-folder-id="${nestedFolder.getId()}" style="display:none;">
                <input type="text" placeholder="Nome documento">
                <input type="date" placeholder="Data documento">
                <input type="text" placeholder="Tipo documento">
                <textarea placeholder="Sommario documento"></textarea>
                <button type="button" class="save-document-btn">Salva</button>
            </div>
            <!-- Iterazione sui documenti della cartella -->
            <ul th:if="${!#lists.isEmpty(nestedFolder.getDocuments())}">
                <li th:each="document : ${nestedFolder.getDocuments()}" th:data-document-id="${document.getId()}" draggable="true">
                    <span th:text="${document.getName()}"></span>
                </li>
            </ul>
        </div>
        <div th:unless="${#lists.isEmpty(nestedFolder.getFolders())}">
            <!-- Mostra il nome della cartella -->
            <span th:text="${nestedFolder.getName()}"></span>
            <!-- Contenitore per i pulsanti e i form -->
            <div class="action-buttons">
            	<div th:if="${#lists.isEmpty(nestedFolder.getDocuments())}">                                            
                <button type="button" class="add-subfolder-btn" th:data-folder-id="${nestedFolder.getId()}">AGGIUNGI SOTTOCARTELLA</button>
                </div>
                <div th:if="${#lists.isEmpty(nestedFolder.getFolders())}">    
                	<button type="button" class="add-document-btn" th:data-folder-id="${nestedFolder.getId()}">AGGIUNGI DOCUMENTO</button>
               	</div>
            </div>
            <!-- Campo di input per il nome della nuova sottocartella -->
            <div class="subfolder-input" th:data-folder-id="${nestedFolder.getId()}" style="display:none;">
                <input type="text" placeholder="Nome sottocartella">
                <button type="button" class="save-subfolder-btn">Salva</button>
            </div>
            <!-- Iterazione sulle sotto-cartelle -->
            <ul>
                <li th:each="nestedFolder : ${nestedFolder.getFolders()}" th:data-folder-id="${nestedFolder.getId()}" ondrop="handleDrop(event)" ondragover="handleDragOver(event)" th:include="this :: folderFragment"></li>
            </ul>
        </div>
    </div>
</body>
</html>
